<!DOCTYPE.html>
<html>
  <head>
    <title>FlowQuest</title>
  </head>
    <div class="sign-in">
      <a class="login-button button small button-index" href="/auth/github">Sign in with GitHub</a>
    </div>



</html>
